@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lobster&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');
:root {
  --overlay-color: #ff6702;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Itim', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Roboto', sans-serif;
}

/* page-index */

/*------------- Main section layout -------------*/
.main {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: black;
  /*z-index: 2;*/
  transition: 0.8s;
}

/*------------- Header ------------*/
    .main header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        line-height: 60px;
        font-family: 'Roboto';  
    }

.logo {
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
    font-family: 'Lobster';
}

/*------------- Footer ------------*/
.main footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 40px 50px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------- Animated scroll button -----------*/

/*----------- Scroll down -----------*/
.scroll-down {
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: '';
  position: absolute;
  top: 20%;
  height: 20px;
  width: 20px;
  transform: translate( -50%, -50%);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  animation: scroll-down 1.5s ease-in-out infinite;
}

.scroll-down::after {
  top: 60%;
}
@keyframes scroll-down {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 90%;
  }
}

#explore {
  position: absolute;
  padding-bottom: 20px;
}

/*------------- Main ------------*/

.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text {
  z-index: 2;
  position: absolute;
}

#miro {
  position: absolute;
  top: 50%;
  background: url('/Website/front-end/img/miro.png');
  background-position: center;
  background-size: cover;
  border: 2px solid black;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

/* ------------- Typewriter text style ------------ */
.text h2 {
  font-size: 3.5em;
  font-weight: 200;
  font-family: 'Itim';
}

/* ------------- Menu ------------ */
.menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

    .menu li {
        position: relative;
        list-style: none;
        float: right;
        color: #fff;
        padding: 15px 15px;
        padding-bottom: 7px;
    }
        .menu li.active {
            border-bottom: 2px solid #f12929;
        }

        .menu li a {
            text-decoration: none;
            font-size: 24px;
            color: #fff;
        }

.menu li a:hover {
  color: var(--overlay-color);
}

.date {
  position: absolute;
  bottom: 0;
  padding-bottom: 7px;
  font-size: 10px;
}

/* -------------- Responsiveness --------------*/

/* In case screen size is below a pixel threshhold the font size and padding changes */
@media(max-width: 800px) {
  .main, .main header {
    padding: 40px;
  }

  .text h2 {
    font-size: 1.5em;
  }
}

/* ------------- Typewriter animation ------------ */
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
@keyframes caret {
    50% {
      border-color: transparent;
    }
}
.menu {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #999;
    padding: 0px 0px;
}
    .menu ul {
        margin-right: 60px;
    }
